@model Digital_Partners.Models.Medarbejder

@{
    ViewData["Title"] = "Create";
}

<div style="display: flex; justify-content: center; align-items: center">
    <div class="col-md-8">
        <form method="post" asp-action="Update">

            <input asp-for="Id" hidden />

            <div class="form-group">
                <label asp-for="Navn" class="control-label"></label>
                <input asp-for="Navn" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="Alder" class="control-label"></label>
                <input asp-for="Alder" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="Adresse" class="control-label"></label>
                <input asp-for="Adresse" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="By" class="control-label"></label>
                <input asp-for="By" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="Postnummer" class="control-label"></label>
                <input asp-for="Postnummer" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="Telefonnummer" class="control-label"></label>
                <input asp-for="Telefonnummer" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="E_mail" class="control-label"></label>
                <input asp-for="E_mail" class="form-control" />

            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

